{%- if content_for_header contains 'debutify' and settings.dbtfy_upsell_bundles -%}
  {%- assign limit = section.settings.dbtfy_upsell_bundles_limit -%}
  {%- assign valid_bundle = false -%}
  {%- assign specific_bundle = false -%}
  {%- assign has_offer_1 = false -%}
  {%- assign has_offer_2 = false -%}
  {%- assign current_product = product -%}
  {%- assign has_collection = true -%}
  {%- assign grid_item_width = "large--two-twelfths medium--two-twelfths" -%}


  {%- for block in section.blocks -%}

    {%- assign discount_name = block.settings.dbtfy_upsell_bundles_discount_code -%}
    {%- assign discount_amount = block.settings.dbtfy_upsell_bundles_discount_amount -%}
    {%- assign discount_type = block.settings.dbtfy_upsell_bundles_discount_type -%}

    {%- assign product_trigger = block.settings.dbtfy_upsell_bundles_product_trigger -%}

    {%- if product_trigger == current_product.handle -%}
      {%- if block.settings.dbtfy_upsell_bundles_product_offer_1 != blank -%}
        {%- assign offer_1 = all_products[block.settings.dbtfy_upsell_bundles_product_offer_1] -%}
        {%- assign has_offer_1 = true -%}
      {%- endif -%}

      {%- if block.settings.dbtfy_upsell_bundles_product_offer_2 != blank -%}
        {%- assign offer_2 = all_products[block.settings.dbtfy_upsell_bundles_product_offer_2] -%}
        {%- assign has_offer_2 = true -%}
      {% endif %}

      {%- if all_products[product_trigger].available -%}
        {%- assign specific_bundle = true -%}
      {%- endif -%}

      {%- break -%}
    {%- endif -%}
  {%- endfor -%}

  {%- if current_product.collections == blank -%}
  	{%- assign has_collection = false -%}
  {%- endif -%}

  {%- if has_collection or specific_bundle -%}
    <div hidden>
      {%- render "dbtfy-upsell-bundles-grid" with current_product as product, type: "image", item: "first", grid_item_width: grid_item_width, index: 0 -%}
      {%- render "dbtfy-upsell-bundles-grid" with current_product as product, type: "form", item: "first", index: 0 -%}
    </div>
  {%- endif -%}

  <div id="UpsellBundles"
      data-bundle-product-count="{{limit}}"
      data-product-id="{{ product.id }}"
      data-section-id="{{ section.id }}"
      data-discount-name="{{ discount_name }}"
      data-discount-amount="{{ discount_amount }}"
      data-discount-type="{{ discount_type }}"
      data-section-type="bundle-recommendations"
      data-limit="{{ limit }}"
      data-position="{{ section.settings.dbtfy_upsell_bundles_position }}"
      class="{{ section.settings.section_style }} ub-position-{{ section.settings.dbtfy_upsell_bundles_position }} {% if specific_bundle %}specific-upsell_bundles{% endif %}">

    {%- if recommendations.performed or specific_bundle -%}
      {%- if recommendations.products_count > 0 or specific_bundle -%}
        <div class="box">
          <div class="wrapper">

            {%- unless section.settings.dbtfy_upsell_bundles_title == blank and section.settings.dbtfy_upsell_bundles_subtitle == blank -%}
              <div class="section-header">
                {%- unless section.settings.dbtfy_upsell_bundles_title == blank -%}
                  <h2 class="section-header__title">{{ section.settings.dbtfy_upsell_bundles_title | escape }}</h2>
                {%- endunless -%}

                {%- unless section.settings.dbtfy_upsell_bundles_subtitle == blank -%}
                  <p class="section-header__subtitle">{{ section.settings.dbtfy_upsell_bundles_subtitle | escape }}</p>
                {%- endunless -%}
              </div>
            {%- endunless -%}

            <div class="grid grid-spacer image-wrapper-upsell_bundles{% if section.settings.dbtfy_upsell_bundles_position == "button" %} grid-small{% endif %}">
              {%- if specific_bundle -%}
                {%- if has_offer_1 -%}
                  {%- render "dbtfy-upsell-bundles-grid" with offer_1 as product, type: "image", grid_item_width: grid_item_width, index: 1 -%}
                {%- endif -%}

                {%- if has_offer_2 -%}
                  {%- render "dbtfy-upsell-bundles-grid" with offer_2 as product, type: "image", grid_item_width: grid_item_width, index: 2 -%}
                {%- endif -%}
              {%- else -%}
                {%- for product in recommendations.products -%}
                  {%- render "dbtfy-upsell-bundles-grid" with product as product, type: "image", grid_item_width: grid_item_width, index: forloop.index -%}
                {%- endfor -%}
              {%- endif -%}

              <div class="grid__item total-wrapper-upsell_bundles dbtfy-discount_saved" data-discount-variant="{{ settings.sale_type }}">
                <div class="text-money">
                  <p>{{ section.settings.dbtfy_upsell_bundles_total }}</p>
                  <div class="dbtfy-ub-price-box">
                    <span class="total-upsell_bundles"></span>
                    <span class="compare-total-upsell_bundles text-money text-muted text-strike"></span>
                    <span class="discount-upsell_bundles badge number-discount_saved badge">
                      <span class="{{ settings.icon }}">local_offer</span>
                      <span class="discount-upsell_bundles_text"></span>
                    </span>
                  </div>
                </div>

                <button type="button" class="btn btn--primary btn-upsell_bundles">
                  <div class="btn__text">
                    {%- unless section.settings.dbtfy_upsell_bundles_icons == blank -%}
                      <span class="{{ settings.icon }} icon-width">{{ section.settings.dbtfy_upsell_bundles_icons }}</span>
                    {% endunless %}

                    {{ section.settings.dbtfy_upsell_bundles_cart }}
                  </div>
                </button>
              </div>
            </div>

            <div class="form-wrapper-upsell_bundles spacer-top">
              {%- if specific_bundle -%}
                {%- if has_offer_1 -%}
                  {%- render "dbtfy-upsell-bundles-grid" with offer_1 as product, type: "form", index: 1 -%}
                {%- endif -%}

                {%- if has_offer_2 -%}
                  {%- render "dbtfy-upsell-bundles-grid" with offer_2 as product, type: "form", index: 2 -%}
                {%- endif -%}
              {%- else -%}
                {%- for product in recommendations.products -%}
                  {%- render "dbtfy-upsell-bundles-grid" with product as product, type: "form", index: forloop.index -%}
                {%- endfor -%}
              {%- endif -%}
            </div>
          </div>
        </div>
      {%- endif -%}
    {%- endif -%}
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "⚡ Upsell bundles",
    "class": "dbtfy dbtfy-upsell_bundles",
    "settings": [
      {
        "type": "header",
        "content": "Help Center"
      },
      {
        "type": "paragraph",
        "content": "[Follow our step-by-step tutorial](https:\/\/help.debutify.com\/en\/articles\/5054282-how-to-manage-upsell-bundles-in-3-0)"
      },
      {
        "type": "paragraph",
        "content": "To enable/disable this add-on, go to Theme settings > Debutify Add-ons."
      },
      {
        "type": "paragraph",
        "content": "* Create at least 1 collection to show dynamic recommendations or use specific bundles below"
      },
      {
        "type": "text",
        "id": "dbtfy_upsell_bundles_title",
        "label": "Heading",
        "default": "Frequently bought together"
      },
      {
        "type": "text",
        "id": "dbtfy_upsell_bundles_subtitle",
        "label": "Subheading"
      },
      {
        "type": "text",
        "id": "dbtfy_upsell_bundles_total",
        "label": "Total",
        "default": "Total price:"
      },
      {
        "type": "text",
        "id": "dbtfy_upsell_bundles_cart",
        "label": "Button label",
        "default": "Add selected items"
      },
      {
        "type": "text",
        "id": "dbtfy_upsell_bundles_icons",
        "label": "Button icon",
        "default": "library_add_check",
        "info": "[View all available icons](https:\/\/material.io\/resources\/icons)"
      },
      {
        "type": "text",
        "id": "dbtfy_upsell_bundles_current",
        "label": "Current product",
        "default": "This item:"
      },
      {
        "type": "select",
        "id": "section_style",
        "label": "Section style",
        "default": "section-border",
        "options": [
          {
            "value": "section-blank",
            "label": "Blank background"
          },
		      {
            "value": "section-default",
            "label": "Accent background"
          },
          {
            "value": "section-border",
            "label": "Border top"
          }
        ]
      },
	    {
        "type": "header",
        "content": "Bundle settings"
      },
      {
        "type": "checkbox",
        "id": "dbtfy_upsell_bundles_reviews",
        "label": "Show star ratings",
        "default": false
      },
      {
        "type": "select",
        "id": "dbtfy_upsell_bundles_limit",
        "label": "Products upsell",
		    "default": "2",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          }
        ]
      },
      {
        "type": "select",
        "id": "dbtfy_upsell_bundles_position",
        "label": "Position",
		    "default": "product",
        "options": [
          {
            "value": "product",
            "label": "Under product section"
          },
          {
            "value": "button",
            "label": "Under add-to-cart button"
          }
        ]
      }
    ],
	  "blocks" : [
      {
        "type": "bundle",
        "name": "Specific bundle",
        "settings": [
          {
            "type": "product",
            "id": "dbtfy_upsell_bundles_product_trigger",
            "label": "Product trigger"
          },
          {
            "type": "product",
            "id": "dbtfy_upsell_bundles_product_offer_1",
            "label": "Product offer"
          },
          {
            "type": "product",
            "id": "dbtfy_upsell_bundles_product_offer_2",
            "label": "Product offer"
          },
          {
            "type": "header",
            "content": "Discount code",
            "info": "[Create a discount code](\/admin\/discounts\/new)"
          },
          {
            "type": "text",
            "id": "dbtfy_upsell_bundles_discount_code",
            "label": "Name",
            "placeholder": "20OFF"
          },
          {
            "type": "text",
            "id": "dbtfy_upsell_bundles_discount_amount",
            "label": "Amount",
            "placeholder": "20"
          },
          {
            "type": "radio",
            "id": "dbtfy_upsell_bundles_discount_type",
            "label": "Type",
            "default": "%",
            "options": [
              {
                "value": "%",
                "label": "Percentage"
              },
              {
                "value": "$",
                "label": "Fixed amount"
              }
            ]
          }
		    ]
      }
    ]
  }
{% endschema %}
