<div class="password-page__content" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="password-section">

  {%- if section.settings.image != blank -%}
    {%- assign grid_width = "large--six-twelfths medium--six-twelfths" -%}
  {%- else -%}
    {%- assign grid_width = "large--eight-twelfths push--large--two-twelfths" -%}
  {%- endif -%}
  
  <div class="section-blank">
    <div class="box">
      <div class="wrapper">
        <div class="grid grid-spacer align-center">
          {%- if section.settings.image != blank -%}
          <div class="grid__item {{ grid_width }}">
            <div class="media-wrapper" style="padding-top:{{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100}}%;">
              <img class="media lazyload"
                  {%- render 'lazysizes', img: section.settings.image, img_type: 'responsive' -%}
                  alt="{{ section.settings.image.alt | escape }}">
            </div>
          </div>
          {%- endif -%}

          <div class="grid__item {{ grid_width }} text-center">
            {%- unless section.settings.title == blank -%}
            <div class="page-title-wrapper">
              <h2 class="page-title">{{ section.settings.title | escape }}</h2>
            </div>
            {%- endunless -%}

            {%- if section.settings.newsletter_enable -%}
            <div class="password-page__signup-form">
              {%- form 'customer' -%}
              {{ form.errors | default_errors }}
              {%- if form.posted_successfully? -%}
              <div class="newsletter--form">
                <div class="note form-success">
                  <span class="{{settings.icon}}">email</span>
                  {{ 'general.password_page.signup_form_success' | t }}
                </div>
              </div>
              {%- else -%}
              <div class="rte lead">{{ section.settings.newsletter_form_heading }}</div>
              <input type="hidden" name="contact[tags]" value="prospect, password page">
              <div class="input-group">
                <input id="email" type="email" 
                       placeholder="{{ section.settings.newsletter_placeholder | escape }}"
                       aria-label="{{ section.settings.newsletter_placeholder | escape }}"
                       name="contact[email]" 
                       id="Email" 
                       class="input-group-field newsletter__input" 
                       autocorrect="off" 
                       autocapitalize="off"
                       required="required">
                <button type="submit" 
                        class="btn btn--primary input-group-btn btn--square password-page__signup-form__submit" 
                        aria-label="{{section.settings.newsletter_button_text }}" 
                        title="{{section.settings.newsletter_button_text }}">
                  <span class="{{settings.icon}}" aria-hidden="true">notifications_active</span>
                </button>
              </div>
              {%- endif -%}
              {%- endform -%}
            </div>
            {%- endif -%}

            {%- if section.settings.show_share_buttons -%}
              {%- render 'social-sharing', share_button: "btn btn-square-xsmall", container_class: "spacer-top" -%}
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Password content",
    "class": "password-content",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
		"default": "Coming soon"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Featured image"
      },
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
        "type": "checkbox",
        "id": "newsletter_enable",
        "label": "Show newsletter signup",
        "default": true
      },
      {
        "type": "richtext",
        "id": "newsletter_form_heading",
        "label": "Newsletter form heading",
        "default": "<p>Enter your email below and get notified first when we launch!</p>",
        "info": "[Tell your visitors about a launch day discount](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)."
      },
      {
        "type": "text",
        "id": "newsletter_placeholder",
        "label": "Newsletter placeholder text",
        "default": "Email address"
      },
      {
        "type": "text",
        "id": "newsletter_button_text",
        "label": "Newsletter button text",
        "default": "Notify me"
      },
      {
        "type": "header",
        "content": "Social sharing"
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}