{% if shop.metafields.loox["global_stats"] %}
{% assign looxstats = shop.metafields.loox["global_stats"] | split: "," %}
<div itemscope itemtype="https://schema.org/Product">
<meta itemprop="name" content="{{ shop.name | escape }}"/>
<div itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
<meta itemprop="ratingValue" content="{{ looxstats[0] }}"/>
<meta itemprop="ratingCount" content="{{ looxstats[1] }}"/>
</div>
</div>
{% endif %}
<div class="box">
  <div class="wrapper">

    <div class="grid">
      <div class="grid__item large--eight-twelfths push--large--two-twelfths">
        <div class="section-header">
          <div class="page-title-wrapper">
            <h1 class="page-title">{{ page.title }}</h1>
          </div>
        </div>
        
        {%- unless page.content == blank -%}
          <div class="page-content rte">
            {{ page.content }}
          </div>
        {%- endunless -%}
      </div>
    </div>

  </div>
</div>
<div id="looxReviews" data-loox-aggregate="" class="loox-reviews-default"></div>